.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: 8px;
    overflow-x: auto;
  }
  
  .form-container {
    margin-top: 4px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .input-field {
    width: 150px;
    flex-shrink: 0; /* Prevent input fields from shrinking */
  }
  
  .chips-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 2px;
    flex-wrap: nowrap; /* Prevent chips from wrapping to a new line */
  }


#margin4bottom {
  margin-bottom: 4px;
}